h1 {color: rgb(128, 98, 0);}
#id1 {background-color: rgb(228, 187, 187);} 
.class1 {color: rgb(17, 223, 103);}

.class2.class3 {background-color:rgb(193, 230, 230);}
.class2.class3 p {background-color: rgb(155, 131, 179);}
/*.class1 {background-image: url(sysel1.jpg);background-repeat: no-repeat;} obrázek do pozadí, neopakovaní*/
#id1 {border-style: solid; border-width: 5px; border-color: rgb(0, 0, 0);} /* lze to zkrátit*/
.class5 {border: 4px solid black;padding-bottom: 70px; padding-left: 829px;margin-top: 40px;} 
.class6 {border: 10px olive;padding-top: 100px; padding-bottom: 70px; padding-left: 829px;margin-top: 40px;margin-left: 170px;margin-bottom: 70px; }
.class3 {margin: 100px 20px 60px 200px;}
a:link {color: rgb(40, 216, 24);} /* barva odkazu*/
a:active{color: rgb(43, 198, 226);} /* barva odkazu když je aktivní*/
a:visited{color: rgb(233, 27, 27);} /* barva odkazu po tom co už byl navštíven*/
a:hover {color: rgb(230, 53, 185);} /*barva odkazu když na něj najedeme myší*/
a:link {text-decoration: none;} /* zmizí nám podtržení odkazu*/ 
ul {list-style-type: none; margin: 0; padding: 0;} /* seznam nebude mít odrážky*/
li {display: inline; padding: 40px ; margin: 0px 0px; border: 4px solid black;} /* z položek seznam se stane inline element */ 
a {display: block;} /* chceme nastavit odkazu margin nebo padding,  ale často to nebude fungovat protože u inline elemenztu nejdou nastvait takze z nich nejprve musime vytvorit block element*/
.kontejner1 {margin: bottom 100px;}
.trida {background-color: aqua; width: 200px; height: 100px; overflow: hidden;} /* overflow-urcuje chování obsahu kdyz se nevleze do prvku, hidden schová text co se nevejde do elementu a scroll vyvoří posuvací čtverec*/
.box {border: 4px solid black; width: 20%; float: left;} /*float přesune text tam kjde chceme pravo,levo... a muzeme sírku dát i v procentech*/ 